<p>pav-bhaji works!</p>
<div>
    
    <h1>INGREDIENTS</h1>\
    <ul>
    <li>4-6 nos pav (buns)</li>
    <li>1 cup chopped cabbage</li>
    <li>4 medium potatoes</li>
    <li>1/2 cup chopped capsicum</li>
    <li>1/2 cup chopped carrots</li>
    <li>1/2 cup chopped cauliflower</li>
    <li>3/4 cup green peas, par boiled (adjust to suit your taste)</li>
    <li>1 tbsp butter or oil</li>
    <li>2 medium onions, finely chopped</li>
    <li>1 green chili</li>
    <li>1/2 tsp red chili powder</li>
    <li>1/4 tsp turmeric</li>
    <li>1 1/2 tbsp pav bhaji masala powder</li>
    <li>1 tsp ginger garlic paste</li>
    <li>3 medium tomatoes</li>
    <li>1 tsp salt or to taste</li>
    <li>1 tbsp additional butter for pav</li>
    <li>For garnish:</li>
    <li>Lemon wedges</li>
    <li>1 tbsp chopped onions</li>
    <li>1 tbsp chopped coriander leaves</li>
    <li>1 tbsp butter</li>
    </ul>
</div>

<div>
    <h1>DIRECTIONS</h1>
    <ul>
        <li>Make a paste of tomatoes in a blender.</li>
        <li>Boil cabbage, cauliflower, potatoes, and carrots by adding half a glass of water and a little salt for two to three whistles in a pressure cooker or until cooked.</li>
        <li>Boil peas separately in another pan by adding a pinch of salt and sugar each to retain the green color.</li>
        <li>Add butter or oil to a pan and heat.</li>
        <li>Add onions and fry until they turn translucent, add ginger garlic paste and fry till it gets fragrant.</li>
        <li>Add capsicums and sauté for 3 to 4 minutes.</li>
        <li>Add tomato paste and fry until you get a nice red color.</li>
        <li>Add chili powder, turmeric powder, salt, and pav bhaji masala powder. Mix thoroughly for another 2 minutes.</li>
        <li>Add boiled veggies, and mash well with the masher.</li>
        <li>Pour water just enough and cook until it reaches a desired consistency.</li>
        <li>Slit the pav buns horizontally. Heat butter on a pan.</li>
        <li>Cook the buns one by one in butter until you get a nice golden color.</li>
        <li>If you like to make it more spicy, sprinkle some pav bhaji masala powder on the inner side.</li>
        <li>Garnish pav bhaji with onions, coriander leaves, butter, and a dash of lime juice.</li>
        <li>Serve hot, Enjoy!</li>
    </ul>
</div>
