.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.column {
  flex: 1;
  padding: 10px;
  height:100px;
  width:200px;

}
a{
  margin-bottom: 10px;
}

.column a {
  display: block;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
  text-align: center;
  transition: background-color 0.3s ease;
}


.column a:hover {
  background-color: #e0e0e0;
}

.recipe-section {
  width: 100%;
  padding: 20px 0;
}

.footer {
  width: 100%;
  padding: 20px 0;
  text-align: center;
}
