<h1>Ingredients</h1>
<h1>Serves: 1</h1>
<ul>
    <li>5-6 Oreo biscuits</li>
    <li>1 cup milk</li>
    <li>5-7 ice cubes</li>
    <li>2 tbsp sugar</li>
    <li>1 scoop vanilla ice cream</li>
    <li>1 chocolate wafer stick for garnish</li>
</ul>

<h1>Directions</h1>
<ol>
    <li>Take a blender jar and add the Oreo biscuits, then blend them.</li>
    <li>Add ice cubes and sugar, and blend again.</li>
    <li>Now add milk and vanilla ice cream, and blend until smooth.</li>
    <li>Pour the shake into a glass and garnish with crushed biscuits and a chocolate wafer stick.</li>
</ol>
