/* Container styling */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Form styling */
  form {
    background-color: #f8f9fa;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: auto; /* Horizontally center */
  }
  
  /* Input field styling */
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  /* Button styling */
  button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Link styling */
  p {
    margin-top: 15px;
    text-align: center;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  .log{
    align-items: center;
     padding: 200px;
    }

    .background-image {
      background-image: url('https://st3.depositphotos.com/10654668/15550/i/450/depositphotos_155504386-stock-photo-ingredients-for-preparing-pizza-on.jpg'); /* Replace 'your_image_url.jpg' with the URL of your image */
      background-size: cover;
      background-position: center;
      height: 100vh; /* Adjust height as needed */
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .log {
      background-color: rgba(255, 255, 255, 0.9); /* Background color for the registration form */
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      text-align: center;
    }
    
    .log form {
      max-width: 400px;
      width: 100%;
    }
    
    .log h2 {
      margin-bottom: 20px;
    }
    