<app-header></app-header>

<!-- <app-sample></app-sample> -->
<div style="position: relative;">
  <a routerLink="/register" style="display: block;">
    <img src="https://spar.co.im/wp-content/uploads/2022/11/recipes.jpg">
    <div class="image-overlay" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;">
      <span style="color: rgb(0, 0, 0); line-height: 1.5; font-size: 58px; font-family: 'Lobster', cursive;position: absolute; top: -80px; right: -550px;">COOK</span>
      <span style="color: rgb(0, 0, 0); line-height: 1.5; font-size: 58px; font-family:'Lobster', cursive;position: absolute; top: -5px; right: -700px;">BOOK</span>

    </div>
  </a>
</div>




  <!-- <div class="Image">
  <img src="https://media.istockphoto.com/id/607299402/photo/culinary-background-with-spices-and-recipe-book.jpg?s=612x612&w=0&k=20&c=IpEqVDztshwHdB6rnprLfOSbh1rtz8aKy5IUIWTmxzw=" class="Image">

</div> -->
<div class="text"><h3>Welcome to Recipe Book!</h3></div>
