<div class="card" onclick="flipCard(this)">
    <div class="card-inner">
        <div class="card-front">
            <h2>Front Content</h2>
        </div>
        <div class="card-back">
            <h2>Back Content</h2>
        </div>
    </div>
</div>
