body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    color: #333;
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  ol {
    padding-left: 20px;
    margin-bottom: 20px;
  }

  li {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .ingredients ol {
    list-style-type: none;
  }

  .directions ol {
    list-style-type: decimal;
  }