<h1>Ingredients</h1>
<ul>
    <li>Serves: 10</li>
    <li>4 cups idly rice</li>
    <li>1 cup urad dal</li>
    <li>1 tsp fenugreek seeds</li>
    <li>2 tbsp salt</li>
</ul>

<h1>Directions</h1>
<ol>
    <li>Soak idli rice, urad dal, and fenugreek seeds separately for 4 to 5 hours.</li>
    <li>Grind the urad dal and fenugreek seeds to a smooth and fluffy batter.</li>
    <li>Grind the rice after removing urad dal batter in a bowl.</li>
    <li>Mix both the batters together in a bowl with adding salt.</li>
    <li>Ferment the batter for 8 hours.</li>
    <li>Once the time is up, the batter should have increased in volume. Take a ladle and mix it well. Your batter is ready.</li>
    <li>To make Idlis: Pour some water in an idly vessel and put it on medium flame. Just line a wet cloth on top of the idli plates and ladle out the idli batter on the plates. Put it inside the idly vessel and let it steam for 10 minutes. Remove the idly plate and sprinkle some water over the cooked idlis. Slowly separate the cloth from the idlis. Soft fluffy Idlis are ready to serve. Serve hot with your favorite chutney or sambar.</li>
</ol>
