.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-logo {
  flex: 0 0 auto; /* Do not grow, do not shrink, initial width is auto */
}

.footer-nav,
.footer-text {
  flex: 1; /* Take remaining space */
}

.footer-logo img {
  height: 100px; /* Adjust as needed */
  width: 100px;

}

.footer-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-links li {
  display: inline;
  margin-right: 20px;
  font-size: larger;
  font-family: monospace;
}

.footer-links li:last-child {
  margin-right: 0;
}
