<h1>Ingredients</h1>
<h1>Serves: 4</h1>
<ul>
    <li>Roast and ground Kashmiri lal mirch - 2-3 nos</li>
    <li>Dhaniya seed - 1 1/2 nos</li>
    <li>Khaskhas - 2 tsp</li>
    <li>Jeera - 1/2 tsp</li>
    <li>Potatoes, chopped - 3 nos</li>
    <li>Oil - 2 tsp</li>
    <li>Cloves - 2 nos</li>
    <li>Elachi - 2 nos</li>
    <li>Cinnamon - 1 nos</li>
    <li>Curd, whisked smoothly - 4 tsp</li>
    <li>Ginger garlic paste - 1 tsp</li>
    <li>Cashews - 10 nos</li>
    <li>Coriander leaves - 2 tsp</li>
    <li>Coconut milk - 6-7 nos</li>
    <li>Onion, thinly sliced - 1 nos</li>
</ul>
<h1>Directions</h1>
<ol>
    <li>Heat oil in a pan and add cloves, elaichi, and cinnamon. Stir until caramelized, adding some salt.</li>
    <li>Add ginger garlic paste.</li>
    <li>Now, add chopped potatoes and the spice powder, and sauté.</li>
    <li>Add whisked curd and stir well.</li>
    <li>Add 1.5 cups of water, close the lid, and cook until potatoes are done. Alternatively, pressure cook for 2 whistles.</li>
    <li>Check if potatoes are cooked, then add coconut milk and cashews. Stir until the gravy thickens.</li>
    <li>Serve hot.</li>
</ol>