<h1>Ingredients</h1>
<h1>Serves: 12</h1>
<ul>
    <li>1 1/4 cup maida</li>
    <li>1/4 cup milk powder</li>
    <li>1 cup powdered sugar</li>
    <li>1/4 cup butter</li>
    <li>3/4 cup milk</li>
    <li>1 tsp baking powder</li>
    <li>1/2 tsp baking soda</li>
    <li>Whipped cream 300 grams</li>
    <li>Rasmalai 250 grams</li>
</ul>

<h1>Directions</h1>
<ol>
    <li>Sieve maida, milk powder, baking soda, and baking powder.</li>
    <li>Cream butter and powdered sugar. Beat until fluffy.</li>
    <li>Add dry ingredients and essence. Mix well.</li>
    <li>Add milk as needed to form a batter.</li>
    <li>Pour the batter into a dusted pan.</li>
    <li>Preheat oven for 10 minutes at 180°C.</li>
    <li>Bake the cake for 40 minutes at 180°C. Let it cool.</li>
    <li>Now cut the cake into 3 layers.</li>
    <li>Spread whipped cream on the first layer. Put the second layer on top and repeat the process.</li>
    <li>Cover the cake with whipped cream.</li>
    <li>Place Rasmalai on top of the cake. Your cake is ready to serve!</li>
</ol>
