<div>
    <h1>INGREDIENTS</h1>
<ul>
    <li>Mushrooms, 2 cups (sliced lengthwise)</li>
    <li>Tamarind juice, 1 tablespoon</li>
    <li>Turmeric powder, 1/2 teaspoon</li>
    <li>Mustard seeds, 2 teaspoons</li>
    <li>Curry leaves, 8-10 (You can substitute it with 8 basil leaves + zest of half a lime)</li>
    <li>Ghee, 2 tablespoons</li>
    <li>Salt, 2 teaspoons or to taste</li>
    <li>Cilantro/Coriander leaves, 2 tablespoons for garnish</li>
    <li>Dry spices:
    </ul>
    </div>

        <div>
            <h1>DIRECTIONS</h1>
            <ul>
                <li>Dry roast the sliced onions and garlic cloves on medium-high heat until dark brown. Set aside to cool.</li>
                <li>Dry roast all the other ingredients from the dry spices on low heat until a nice aroma is released. Set aside to cool.</li>
                <li>Grind the ingredients from Step 1 and Step 2, with a little water until coarse.</li>
                <li>Slice the mushrooms lengthwise. If using sliced mushrooms, clean them with a paper towel.</li>
                <li>Heat ghee in a pan, add in the mustard seeds and curry leaves. Once spluttered, add the mushrooms and sauté on medium-high flame for 4-5 minutes until mushrooms release their water. Do not burn and do not add water.</li>
                <li>Add tamarind juice, salt, and turmeric powder. Cook for another 7-8 minutes with the lid ON.</li>
                <li>Add the ground spice mixture with a little water (1/4 cup) and mix well. Cover and cook for 3-4 minutes.</li>
                <li>Garnish with chopped cilantro (coriander leaves).</li>
              </ul>
        </div>
