<div>
    <li>Ingredients</li>
    <li>Serves : 4</li>
    <ol>
        <li>3/4 cup parboiled rice</li>
        <li>3/4 regular rice</li>
        <li>1/2 cup urad dal</li>
        <li>1/4 fenugreek seeds</li>
        <li>1/2 chana dal</li>
    </ol>
    


<h1>Directions</h1>

<ol>
    <li>Wash all dal and rice twice or thrice.</li>
    <li>Soak rice for 5 hours.</li>
    <li>Soak urad dal, chana dal, and fenugreek seeds together for 5 hours.</li>
    <li>Drain water from urad dal and reserve it for later use.</li>
    <li>Grind it to a smooth paste by adding reserved water as required.</li>
    <li>Similarly grind rice to a smooth paste.</li>
    <li>Mix both batters, add salt and leave the batter for fermentation.</li>
    <li>Heat non-stick pan, apply some oil and pour some batter on it using a ladle.</li>
    <li>Swirl the batter as thin as possible and cook it on low flame to get a crispy dosa.</li>
</ol>

</div>