<h1>Ingredients</h1>
<h1>Serves: 4</h1>
<ul>
    <li>1 kg mutton</li>
    <li>500 g basmati rice</li>
    <li>1 tsp turmeric powder</li>
    <li>1 tsp saffron</li>
    <li>1 pinch salt</li>
    <li>1/4 cup coriander leaves</li>
    <li>3 cloves</li>
    <li>1 black cardamom</li>
    <li>3 green cardamom</li>
    <li>1 tsp crushed pepper</li>
    <li>1 tbsp red chili powder</li>
    <li>2 tbsp oil</li>
    <li>2 tbsp ginger garlic paste</li>
    <li>2 cups golden fried sliced onions</li>
    <li>3 green chilies</li>
    <li>2 1/2 cups curd</li>
    <li>1/4 cup mint leaves (chopped)</li>
    <li>2 tbsp lime juice</li>
    <li>1 tsp black cumin seeds</li>
    <li>2 tbsp garam masala powder</li>
    <li>1/2 tsp cumin powder</li>
    <li>1 tsp crushed pepper</li>
    <li>2 cups water, required</li>
</ul>

<h1>Directions</h1>
<ol>
    <li>Marinate mutton for 1 hour and keep aside.</li>
    <li>Boil the water and add oil, black cumin seeds, salt, and soaked rice. Cook it and drain. Keep aside.</li>
    <li>Add chopped red chillies, green chillies, mint leaves, crushed pepper powder, cumin powder, cloves, green cardamom, lime juice, curd, and oil. Mix it well.</li>
    <li>Take another heavy-bottomed pan, add the marinated mutton in the bottom and top it off with cooked rice.</li>
    <li>Add chopped mint leaves, coriander leaves, and fried onions to it.</li>
    <li>Sprinkle saffron water, coriander leaves, mint leaves, garam masala powder, and fried onion.</li>
    <li>Cover tightly and cook for 30 minutes.</li>
    <li>Serve hot with salad and pickle.</li>
</ol>
