<header>
    <div class="container">
      <h1>Privacy Policy</h1>
      <nav>
        <ul>
          <li><a routerLink="/home">Home</a></li>
          <li><a routerLink="/aboutus">About</a></li>
          <li><a routerLink="/contactus">Contact</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <!-- Privacy Policy Content -->
  <section id="privacy-policy">
    <div class="container">
      <h2>Our Privacy Policy</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu justo a mi tristique vehicula. In at elit dui. Integer eget ligula nec est ultrices sollicitudin nec ac risus. Phasellus et velit vitae leo mollis efficitur. Nullam consectetur justo sed ultricies tristique. Donec sagittis eleifend risus, sit amet posuere libero posuere eu. In hac habitasse platea dictumst. Phasellus vel leo felis. Proin fringilla augue in urna condimentum, ac congue orci tempor. Donec sit amet mauris nec sem sodales lacinia et at nunc. Nullam quis hendrerit risus, vitae placerat magna. Cras dapibus, sem vel bibendum mattis, felis erat bibendum metus, in efficitur quam magna vitae ex.</p>
      <p>Vestibulum ut eleifend nisi. Integer in arcu sit amet velit auctor tincidunt a id leo. Praesent in ullamcorper urna. Curabitur auctor vel mi ac tincidunt. Pellentesque nec congue mi. Phasellus eu ante vel justo rhoncus vestibulum. Vivamus sed luctus leo, id bibendum tortor. In hac habitasse platea dictumst. Pellentesque nec felis pretium, finibus lectus vel, laoreet mi. In bibendum id est sed iaculis. Vestibulum sodales aliquet diam, eu scelerisque velit volutpat eget.</p>
    </div>
  </section>

  <!-- Footer -->
  <footer>
    <div class="container">
      <p>&copy; 2024 Recipe Book. All rights reserved.</p>
    </div>
  </footer>