<p>chettinad-mutton-kuzhambu works!</p>
<div>
    <h1>INGREDIENTS</h1>
    <ul>
        <li>Mutton – 500 grams</li>
        <li>Oil – 3 tablespoons</li>
        <li>Cinnamon – 1 inch stick</li>
        <li>Cardamom pods – 2</li>
        <li>Cloves – 3</li>
        <li>Fennel Seeds – 1 teaspoon</li>
        <li>Shallots Onions – around 10-15 sliced</li>
        <li>Curry leaves – 2 sprigs</li>
        <li>Ginger Garlic Paste – 2 teaspoons</li>
        <li>Tomatoes – 1 large chopped finely</li>
        <li>Salt - 1 tablespoon or to taste</li>
        <li>Turmeric Powder – 1 teaspoon</li>
        <li>Chili powder – 1 teaspoon</li>
        <li>Water - 2 cups or as needed</li>
        <li>Green Chili – 2 slit (optional)</li>
        <li>Coriander Leaves - 2-3 tablespoons chopped</li>
        <li>For Roasting & Grinding:</li>
    </ul>
</div>

<div>
    <h1>DIRECTIONS</h1>
    <ul>
        <li>Heat a pan and dry roast all the ingredients mentioned in the grinding list until a nice aroma comes out of it. Let it cool down and blend it into a fine powder. Keep aside.</li>
        <li>Now heat oil in a pressure cooker. Add in the whole spices, curry leaves and let them crackle for a minute. Add the shallots, ginger garlic paste and sauté for 2 minutes.</li>
        <li>Add the tomatoes and sauté until tomatoes turn mushy. Add in salt, turmeric powder, and chili powder. Mix well.</li>
        <li>Add the mutton and mix well. Cook for around 5-10 minutes stirring occasionally until the water released from the mutton evaporates.</li>
        <li>Now add the ground spice powder and toss well so that the masala coats nicely with the mutton. Cook for around 5 minutes.</li>
        <li>Add water and pressure cook for 5-6 whistles. Turn off the heat and let the pressure release on its own.</li>
        <li>Open the cooker and adjust the gravy consistency as per your requirements. Add chopped coriander leaves, slit green chilies, give a quick stir and take off the heat.</li>
        <li>Enjoy with piping hot steam rice or any Indian flatbreads.</li>
    </ul>
</div>