<div class="container">
    <h1 class="text-center">Food Items</h1>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-6 mb-4" *ngFor="let recipe of items">
            <div class="card h-100">
                <img class="card-img-top" [src]="recipe.imgUrl" alt="Recipe Image">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title">Recipe Name: {{recipe.recipeName}}</h3>
                    <p class="card-text">Description: {{recipe.recipeDescription}}</p>
                    <p class="card-text">Cooking Time: {{recipe.cookingTime}}</p>
                    <p class="card-text">Type: {{recipe.categoryType}}</p>
                    <div class="mt-auto text-center">
                        <a [routerLink]="recipe.recipeName" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
