/* Ensure card images have consistent height */
.card-img-top {
  height: 200px; /* Adjust as needed */
  object-fit: cover;
}

/* Center card content vertically */
.card-body {
  display: flex;
  flex-direction: column;
}

/* Align view button at the bottom */
.card-body .text-center {
  margin-top: auto;
}

h1 {
  text-align: center;
  font-family: sans-serif;
}

/* Custom styles for cards */
.card {
  margin-bottom: 20px; /* Add space between cards */
}

@media (min-width: 768px) {
  /* Medium-sized cards on small to medium screens */
  .col-sm-4 {
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }
}
