<div class="container">
    <h1>Ingredients</h1>
    <ol>
      <li>1 tablespoon red food color</li>
      <li>2-1/2 cups plain cake flour</li>
      <li>1 tablespoon vanilla essence</li>
      <li>1-1/2 cups caster sugar</li>
      <li>1 tablespoon orange peel</li>
      <li>1 teaspoon butter for greasing</li>
      <li>8 eggs</li>
      <li>For icing: 1/2 cup icing sugar</li>
      <li>1 cup cream cheese</li>
    </ol>
  
    <h1>Directions</h1>
    <ol>
      <li>Preheat oven at 180°C. Line a 7-inch round cake tin by greasing with a little butter and dusting with a little refined flour.</li>
      <li>Beat eggs and caster sugar in a bowl till fluffy.</li>
      <li>Add vanilla essence and food color and beat again.</li>
      <li>Add plain cake flour and fold lightly till well blended. Add orange peel and mix well.</li>
      <li>Pour batter into lined cake tin and put it in the preheated oven. Bake for 30-40 minutes.</li>
      <li>To make icing, combine cream cheese and icing sugar in a bowl and whisk well till well blended.</li>
      <li>Remove cake from oven and demould. Discard the top rough layer and even it out. Slice diagonally from between. Spread icing evenly on the base. Cover with the upper layer and spread icing evenly on this layer as well.</li>
      <li>Cut into wedges and serve.</li>
    </ol>
  </div>