<app-header> </app-header>


<h1 align="center">Add Recipes</h1>
<br>
<form #regForm="ngForm" (ngSubmit)="registerrecipe(regForm.value)">

  <table align="center" border="1px">
    <tr>
      <td>categoryType:</td>
      <td><input type="text" name="categoryType" ngModel #categoryType="ngModel" required></td>
    </tr>
    <br>
    <tr>
      <td>recipeName:</td>
      <td><input type="text" name="recipeName" ngModel #recipeName="ngModel" required></td>
    </tr>
    <br>
    <tr>
      <td>recipeDescription</td>
      <td><input type="text" name="recipeDescription" ngModel #recipeDescription="ngModel" required></td>
    </tr>
    <br>
    <tr>
      <td>cookingTime:</td>
      <td><input type="text" name="cookingTime" ngModel #cookingTime="ngModel" required></td>
    </tr>
    <br>
    <tr>
      <td>imgUrl:</td>
      <td><input type="text" name="imgUrl" ngModel #imgUrl="ngModel" required></td>
    </tr>
    <br>
  </table>
  <div align="center">
    <br>
    <button type="submit">Add Recipes</button>
  </div>
</form>