<div style="position: relative;">
    <a href="your_destination_page_url" style="display: block;">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVtY9I3rwzsXGfO-CAnnPCwrtjOij5zOqEc5jPmqLv5Q&s" alt="First slide" class="carousel-image" style="width: 100%; top: 0;">
      <div class="image-overlay" style="position: absolute; top: 50%; right: 40%; transform: translate(-50%, -50%); text-align: center;">
        <h2 style="color: white; line-height: 1.5; font-size: 38px; font-family: 'Cinzel', serif;">MINI CAKES</h2>
        <h5 style="color: white; line-height: 1.5; font-size: 20px; font-family: 'Cinzel', serif;;">Mini cakes are delightful, bite-sized treats that pack all the flavor of their larger counterparts into a petite package. These miniature confections are perfect for parties, events, or simply indulging in a sweet craving without overindulging. Despite their small size, mini cakes offer a variety of flavors, fillings, and decorations, making them versatile and visually appealing desserts. </h5>
        <hr class="white-line" style="width: 50px; margin: 10px auto;">
        <p style="color: white; line-height: 1.5; font-size: 18px; font-family: 'Cinzel', serif;"></p>
      </div>
    </a>
  </div>
  
    <!-- Heading for Ingredients -->
    <h1>INGREDIENTS</h1>
  
    <!-- Description for Ingredients -->
    <p class="description">Here's a list of ingredients you'll need for this recipe:</p>
    
    <!-- Ingredients List with Checkboxes -->
    <div class="ingredients">
        <ol>
            <li><input type="checkbox" id="ingredient1" name="ingredient1"><label for="ingredient1">85 gms butter for cake</label></li>
            <li><input type="checkbox" id="ingredient2" name="ingredient2"><label for="ingredient2">3/4 cups sugar</label></li>
            <li><input type="checkbox" id="ingredient3" name="ingredient3"><label for="ingredient3">3 nos eggs</label></li>
            <li><input type="checkbox" id="ingredient4" name="ingredient4"><label for="ingredient4">1 1/4 cups flour</label></li>
            <li><input type="checkbox" id="ingredient5" name="ingredient5"><label for="ingredient5">1 tsp baking powder</label></li>
            <li><input type="checkbox" id="ingredient6" name="ingredient6"><label for="ingredient6">1 pinch salt</label></li>
            <li><input type="checkbox" id="ingredient7" name="ingredient7"><label for="ingredient7">1/2 cup milk</label></li>
            <li><input type="checkbox" id="ingredient8" name="ingredient8"><label for="ingredient8">1/2 tbsp vanilla essence</label></li>
            <li><input type="checkbox" id="ingredient9" name="ingredient9"><label for="ingredient9">100 ml fresh cream for ganache</label></li>
            <li><input type="checkbox" id="ingredient10" name="ingredient10"><label for="ingredient10">150 gms bitter-sweet chocolate</label></li>
            <li><input type="checkbox" id="ingredient11" name="ingredient11"><label for="ingredient11">1 tbsp biscuits, peanut butter, or cornflakes for garnish (optional)</label></li>
        </ol>
    </div>

    <!-- Heading for Directions -->
    <h1>DIRECTIONS</h1>
    
    <!-- Directions List with Numbered Squares -->
    <div class="directions">
        <ol>
            <li><div class="number">1</div>Preheat oven to 200°C and grease the individual ramekins with butter.</li>
            <li><div class="number">2</div>Beat butter and sugar together till it turns creamy.</li>
            <li><div class="number">3</div>To it, beat in the eggs one by one till completely combined.</li>
            <li><div class="number">4</div>Sift flour, baking powder, and salt.</li>
            <li><div class="number">5</div>First, add dry ingredients (flour and salt), then add milk and vanilla essence, and finally end with the dry ingredients. Mix completely until it forms a smooth batter.</li>
            <li><div class="number">6</div>Pour the batter into the ramekins and place in the preheated oven for 20 minutes or until a toothpick inserted comes out clean.</li>
            <li><div class="number">7</div>For ganache, heat the cream till bubbles begin to appear at the top and pour over the chocolate. Mix.</li>
            <li><div class="number">8</div>Take out the cakes from the oven and allow to cool in ramekins.</li>
            <li><div class="number">9</div>Once cooled, place them upside down on a wire rack and pour the ganache over them.</li>
            <li><div class="number">10</div>Decorate with biscuits, cornflakes, or peanut butter.</li>
        </ol>
    </div>

    <!-- Social Icons -->
    <div class="social-icons">
        <a href="https://api.whatsapp.com/send?text=Check out this amazing recipe: [Your Recipe URL]" target="_blank">
            <img src="assets\watsapplogo.jpg" alt="WhatsApp">
        </a>
    </div>

    <!-- Rating Stars -->
    <div class="rating">
        <input type="radio" id="star1" name="rating" value="1">
        <label for="star1">&#9733;</label>
        <input type="radio" id="star2" name="rating" value="2">
        <label for="star2">&#9733;</label>
        <input type="radio" id="star3" name="rating" value="3">
        <label for="star3">&#9733;</label>
        <input type="radio" id="star4" name="rating" value="4">
        <label for="star4">&#9733;</label>
        <input type="radio" id="star5" name="rating" value="5">
        <label for="star5">&#9733;</label>
    </div>
